{% load static %}
{% load user_filters %}
{% with request.resolver_match.view_name as view_name %}
<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'posts:index' %}">
        <img
          src="{% static 'img/logo.png' %}"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        <span style="color: red">Ya</span>tube
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav nav-pills nav-fill">
          <li class="nav-item mb-2 mt-2 ms-2 me-2">
            <a
              class="nav-link {% if view_name == 'about:author' %}active{% endif %}"
              href="{% url 'about:author' %}"
              ><span style="color: white">Об авторе</span></a
            >
          </li>
          <li class="nav-item mb-2 mt-2 ms-2 me-2">
            <a
              class="nav-link {% if view_name == 'about:tech' %}active{% endif %}"
              href="{% url 'about:tech' %}"
              ><span style="color: white">Технологии</span></a
            >
          </li>
          <li class="nav-item dropdown mb-2 mt-2 ms-2 me-2">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDrop" role="button" data-toggle="dropdown" aria-expanded="false" style="color: white">
              Поиск
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDrop">
              <li>
                <form action="{% url 'posts:post_search' %}" class="d-flex justify-content-center" method="get">
                  <input type="search" placeholder="Поиск по содержимому постов" class="form-control ms-2" style="width: 300px" name="search_text" required>
                  <button class="btn btn-outline-primary ms-2 me-2">Поиск</button>
                </form>
              </li>
            </ul>
          </li>
        </ul>
        <!--
        <form action="{% url 'posts:post_search' %}" class="d-flex justify-content-center mb-2 mt-2" method="post">
          {% csrf_token %}
          <input type="search" placeholder="Поиск по содержимому постов" class="form-control ms-2" style="width: 300px" name="search_text">
          <button class="btn btn-outline-light ms-2">Поиск</button>
        </form>
      -->
        <ul class="navbar-nav nav-pills nav-fill ms-auto">
          {% if user.is_authenticated %}
          <!--
          <li class="nav-item">
            <a
              class="nav-link {% if view_name == 'posts:profile' %}active{% endif %}"
              href="{% url 'posts:profile' user.username %}"
              ><span style="color: white">Страница пользователя: {{ user.username }}</span></a
            >
            </li>
          <li class="nav-item">
            <a
              class="nav-link {% if view_name == 'posts:post_create' %}active{% endif %}"
              href="{% url 'posts:post_create' %}"
              ><span style="color: white">Новая запись</span></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link {% if view_name == 'users:password_change_form' %}active{% endif %}"
              href="{% url 'users:password_change_form' %}"
              ><span style="color: white">Изменить пароль</span></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link {% if view_name == 'users:logout' %}active{% endif %}"
              href="{% url 'users:logout' %}"
              ><span style="color: white">Выйти</span></a
            >
          </li>
          -->
          <li class="nav-item dropdown mb-2 mt-2 ms-2 me-2">
            <a href="#" class="
                              nav-link 
                              dropdown-toggle
                              {% if view_name == 'posts:profile' %}active{% endif %}
                              {% if view_name == 'posts:post_create' %}active{% endif %}
                              {% if view_name == 'users:password_change_form' %}active{% endif %}
                              {% if view_name == 'users:logout' %}active{% endif %}
                              "
              id="navbarDrop" role="button" data-toggle="dropdown" aria-expanded="false" style="color: white">
              {{ user.username }}
            </a>
            <ul class="dropdown-menu text-center" aria-labelledby="navbarDrop">
              <li><a href="{% url 'posts:profile' user.username %}" class="dropdown-item {% if view_name == 'posts:profile' %}active{% endif %}">Страница пользователя</a></li>
              <li><a href="{% url 'posts:post_create' %}" class="dropdown-item {% if view_name == 'posts:post_create' %}active{% endif %}">Новая запись</a></li>
              <li><a href="{% url 'users:password_change_form' %}" class="dropdown-item {% if view_name == 'users:password_change_form' %}active{% endif %}">Изменить пароль</a></li>
              <li><a href="{% url 'users:logout' %}" class="dropdown-item {% if view_name == 'users:logout' %}active{% endif %}">Выйти</a></li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item">
            <a
              class="nav-link {% if view_name == 'users:login' %}active{% endif %}"
              href="{% url 'users:login' %}"
              ><span style="color: white">Войти</span></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link {% if view_name == 'users:signup' %}active{% endif %}"
              href="{% url 'users:signup' %}"
              ><span style="color: white">Регистрация</span></a
            >
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>
{% endwith %}