{% load thumbnail %}
{% load user_filters %}
<article>
  <h4><a href="{% url 'posts:profile' post.author.username %}" class="text-decoration-none" > {{ post.author.get_full_name }} </a></h4>
  {% if post.group %}
    <h5>Для группы <a href="{% url 'posts:group_list' post.group.slug %}" class="text-decoration-none" > {{ post.group.title }} </a></h5>
  {% endif %}
  <br>
  {{ post.text|linebreaksbr }}
  <br>
  {% if post.image %}
    <div class="text-center">
      {% if post.image|is_portrait %}
        {% thumbnail post.image "x720" crop="center" as im %}
          <img class="card-img mb-4 mt-4" src="{{ im.url }}" style="max-width:720px; max-height:720px; object-fit: contain;">
        {% endthumbnail %}
      {% else %}
        {% thumbnail post.image "720" crop="center" as im %}
          <img class="card-img mb-4 mt-4" src="{{ im.url }}" style="max-width:720px; max-height:720px; object-fit: contain;">
        {% endthumbnail %}
      {% endif %}
    </div>
  {% endif %}
  <p><a href="{% url 'posts:post_detail' post.id %}" class="text-decoration-none" > {{ post.pub_date|date:"d E Y h:m" }} </a></p>
  {% if post.comments.count > 0 %}
    <a href="{% url 'posts:post_detail' post.id %}" class="text-decoration-none" > Комментарии ({{ post.comments.count }}) </a>
  {% else %}
    Комментариев нет. <a href="{% url 'posts:post_detail' post.id %}" class="text-decoration-none" > Будьте первым! </a>
  {% endif %}
  {% if not forloop.last %}
    <hr />
  {% endif %}
</article>