{% extends 'base.html' %}
{% block title %}
Удалить пост?
{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">
        Удалить пост?
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">
              Да
            </button>&nbsp;
            <a class="btn btn-primary" href="{% url 'posts:post_detail' post_id %}">Нет</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}