{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
Пост {{ post.text|truncatechars:30 }}
{% endblock %}
{% block content %}
<div class="row">
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Автор: <a href="{% url 'posts:profile' post.author.username %}" class="text-decoration-none" >{{ post.author.get_full_name }}</a>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Всего постов автора: {{ post.author.posts.count }}
      </li>
      {% if post.group %}
      <li class="list-group-item">
        Группа: <a href="{% url 'posts:group_list' post.group.slug %}" class="text-decoration-none" >{{ post.group.title }}</a>
      </li>
      {% endif %}
      <li class="list-group-item">
        {{ post.pub_date|date:"d E Y h:m" }}
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <br>
    <p>
      {{ post.text|linebreaksbr }}
    </p>
    <div style="text-align:center">
      {% thumbnail post.image "1080" crop="center" upscale=True as im %}
        <img class="card-img mb-4 mt-4" src="{{ im.url }}" style="max-width:720px; max-height:720px; width:auto; height:auto">
      {% endthumbnail %}
    </div>
    {% if user == post.author %}
      <a class="btn btn-primary mb-2 mt-2 me-2" href="{% url 'posts:post_edit' post.id %}" >
        редактировать пост
      </a>
      <br>
      <a class="btn btn-primary mb-2 mt-2 me-2" href="{% url 'posts:post_delete' post.id %}">
        удалить пост
      </a>
    {% endif %}
    {% include 'posts/includes/comments.html' %}
  </article>
</div> 
{% endblock %}