{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
Пост {{ post.text|truncatechars:30 }}
{% endblock %}
{% block content %}
<div class="row">
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Автор: <a href="{% url 'posts:profile' post.author.username %}" class="text-decoration-none" >{% if post.author.get_full_name %}{{ post.author.get_full_name }}{% else %}{{ post.author.username }}{% endif %}</a>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Всего постов автора: {{ post.author.posts.count }}
      </li>
      {% if post.group %}
      <li class="list-group-item">
        Группа: <a href="{% url 'posts:group_list' post.group.slug %}" class="text-decoration-none" >{{ post.group.title }}</a>
      </li>
      {% endif %}
      <li class="list-group-item">
        {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <br>
    <p>
      {{ post.text|linebreaksbr }}
    </p>
    {% if post.image %}
      <div class="text-center">
        {% if post.image|is_portrait %}
          {% thumbnail post.image "x720" crop="center" as im %}
            <img class="card-img mb-4 mt-4" src="{{ im.url }}" style="max-width:720px; max-height:720px; object-fit: contain;">
          {% endthumbnail %}
        {% else %}
          {% thumbnail post.image "720" crop="center" as im %}
            <img class="card-img mb-4 mt-4" src="{{ im.url }}" style="max-width:720px; max-height:720px; object-fit: contain;">
          {% endthumbnail %}
        {% endif %}
      </div>
    {% endif %}
    {% if user == post.author %}
      <a class="btn btn-primary mb-2 mt-2 me-2" href="{% url 'posts:post_edit' post.id %}" >
        редактировать пост
      </a>
      <br>
      <a class="btn btn-primary mb-2 mt-2 me-2" href="{% url 'posts:post_delete' post.id %}">
        удалить пост
      </a>
    {% endif %}
    {% include 'posts/includes/comments.html' %}
    {% if not user.is_authenticated %}
      <br>
      <a href="{% url 'users:signup' %}" class="text-decoration-none" > Зарегистрируйтесь, чтобы комментировать </a>
    {% endif %}
  </article>
</div>
{% endblock %}